<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>TOL</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/root.css">

    <script src="https://use.fontawesome.com/8256ad4471.js"></script>
</head>
<body>

    <header>
        <a href="/" title="Home"><h3>TOL://<span class="txt-uppercase"><%= page %></span></h3></a>
        <ul>
            <li><a href="/marketplace">MARKETPLACE</a></li>
            <li><a href="/tolcss">TOLCSS</a></li>
            <li><a href="/contact">CONTACT US</a></li>
        </ul>
    </header>
