<% include partials/header %>

<div class="wrapper">
    <div class="container">
        <h1 class="txt-huge">OOPS! 404, page not found! :(</h1>
        <h3 class="txt-sub">Try going back <a href="/">home</a></h3>
    </div>
</div>

<% include partials/footer %>