<% include partials/header %>
<link rel="stylesheet" href="CSS/index.css">

<div class="wrapper">
    <div class="container">
        <div class="welcome-block block">
            <h1 class="txt-huge">Take Or Leave</h1>
            <h3 class="txt-sub">Take thnigs, or leave things, it's up to you!</h3>
            <a href="/marketplace" class="btn btn-tol btn-large"><i class="fa fa-shopping-cart"></i> To marketplace</a>
        </div>
    </div>
</div>

<% include partials/footer %>