<% include partials/header %>

<div class="wrapper">

    <h1 class="txt-huge">TOL://CSS</h1>
    <h3 class="txt-sub">Stylesheet developed for the TOL webapp</h3>

    <div class="container-left">

        <h1 class="txt-big">Avalible elements</h1>

        <div class="list-item-space">
            <h3>Link</h3>
            <div class="sub">
                <a href="/tolcss">Link to some page</a>
            </div>
        </div>

        <div class="list-item-space">
            <h3>Buttons</h3>
            <div class="sub">
                <button class="btn">Default</button>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-confirm">Confirm</button>
                <button class="btn btn-alert">Alert</button>
                <button class="btn btn-tol">TOL button</button>
            </div>
        </div>

        <div class="list-item-space">
            <h3>Inputs</h3>
            <div class="sub">
                <input type="text" placeholder="Text input" class="inp list-item">
                <input type="password" placeholder="Password input" class="inp list-item">
                <input type="email" placeholder="Email input" class="inp list-item">
            </div>
        </div>

    </div>
</div>

<% include partials/footer %>